.line {
    position: absolute;
    height: 0px;
    border-top: 4px solid var(--line);
    transform-origin: bottom left;
    z-index: -1;
}

.legal {
   box-shadow: 0px 0px 10px 3px  var(--usedLine);
}

.used {
    border-top: 4px solid  var(--usedLine);
}