* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

.puzzleBoxContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.puzzleBox {
    width: 80vmin;
    height: 80vmin;
    transform: rotate(90deg);
    }


