body {
    background-color: lightblue;

}




/* .line {
    position: absolute;
    height: 0px;
    border-top: thin solid blue;
    /* width: 100vw; */
    /* transform-origin: bottom left;
     

} */ 