header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(50, 28, 39);
    color: rgb(226, 196, 165);
    text-align: center;
}

header .icon {
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5%;
}

@media only screen and (min-width: 768px) {
    header {
        height: 7vh;
    }

    header h1 {
        margin: auto;
    }

    header .icon {
        display: inline;
        flex-direction: row;
        width: 5vmin;
        height: 5vmin;
        top: -9vh;
        right: 25vw;
    }


}