header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(50, 28, 39);
    color: rgb(226, 196, 165);

}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    width: fit-content;
    margin: auto;

}

header .icon {
    position: absolute;
    width: 7vh;
    height: 7vh;
    top: 1vh;
    right: 5vw;

}



@media only screen and (min-width: 768px) {
    header {
        height: 7vh;
    }

    header h1 {
        margin: auto;
    }

    header .icon {
        position: absolute;
        width: 5vmin;
        height: 5vmin;
        top: .5vh;
        right: 29vw;
    } 


}