/* .menuPage {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 100vw;
    height: 80vh;
    background-color: rgb(193,68,50);
    z-index: 1;
} */

/* .puzzleMenuItem {
    height: 10vh;
    border-bottom: 3px solid rgb(226,196,165);
    text-align: center;

}

.puzzleMenuItem p {
    line-height: 10vh;
    margin-left: -40px;
    font-size: x-large;
    display: inline;
    color: var(--dot)
}

.puzzleMenuIcon {
    position: relative;
    padding: 15px;
    height: 100%;
    float: left;


       
} */