.dot {
    background-color: var(--dot);
    width: 5vmin;
    height: 5vmin;
    border-radius: 50px;
    font-size: x-small;
    position: absolute;
    transform: translate(-50%, -50%); /* adjusts div by 50% of its height and width so that its center is at x, y */
    color: white;
}

.selected {
    background-color: var(--usedDot);
}

.valid:hover {
    width: 7vmin;
    height: 7vmin;
}
