@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
  --line: black;
  --usedLine: white;
  --dot: black;
  --usedDot: white; 
  --background: rgb(255, 255, 255);
  --plum: rgb(50, 28, 39);
  --text: rgb(226, 196, 165);
  --reddish: rgb(193,68,50);
}

* {
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
}

.App {
  text-align: center;
}

/* .puzzleBox {
position: relative;
top: 100px;
width: 1vw;
margin: auto;
border: thin solid pink;
} */